/* match color of links to text and remove underline */
a {
  text-decoration: none;
}

a:link { 
  color: white;
}
a:visited { 
  color: white;
}
a:hover { 
  color: white;
}
a:active { 
  color: white;
}

/* set header details and position nav bar. */
header div {
  text-align: center;
  color: white;
  background-color: black;
  font-family: Times, "Times New Roman", serif;
  padding: 20px 0 20px 20px; 
  text-shadow: 0px 0px 12px #000;
}

/* move header to the right so it is centered */
h1 {
  padding-left: 170px;
}

nav {
  float: right;
  padding: 10px;
}

/* add background image and set page parameters */
main {
  background-image: url("/images/cloudy-sky.jpg");
  padding: 20px 0 20px 20px;
  background-size: cover;
  color: white;
  font-family: Times, "Times New Roman", serif;
}

/* shadow all the text */
main div, hr{
  width: 600px;
  margin: auto;
  text-shadow: 0px 0px 12px #000;
}

/* create spacing in the paragraphs in the 'aboutme' class article container*/
.aboutme p {
  line-height: 25px;
  text-indent: 50px;
  padding-bottom: 10px;
}

/* center all the h2 tags and create spacing from the other text */
h2 {
  text-align: center;
  padding: 20px 0 20px 20px;
}

/* create spacing at the top of the page dividers */
hr {
  margin-top: 40px;
}

/* make image heigh match the text parameters */
img {
  border: 3px solid black;
  height: 600px;
  width: 600px;
}

ol, ul {
  padding-bottom: 10px;
}

/* create class for images that centers them on the page */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* make footer match the header */
h3 {
  font-family: Times, "Times New Roman", serif;
}

footer div {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0 20px 20px;
  text-shadow: 0px 0px 12px #000;
}
